body {
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
  sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  margin: 0;
  color: #444;
}

header {
  background: #ff5722;
  text-align: left;
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
  padding: .5rem;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

hr {
  border-top: 1px solid rgba(0, 0, 0, .2);
  border-bottom: 0;
}

.region {
  background: linen;
  padding: .25rem;
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgba(0, 0, 0, .1);
}

.control-panel {
  text-align: right;
  font-family: sans-serif;
  flex-direction: row;
  align-items: center;
  justify-content: right;
}

header .sitename {
  display: none;
}

.control-panel .sitename {
  flex: 1;
  text-align: left;
  color: #fe5720;
  font-weight: bold;
  padding-left: 1rem;
}

.heading {
  font-weight: bold;
  text-transform: uppercase;
  font-size: .85rem;
  padding: .1rem .5rem;
  color: #666;
}

.editor {
  flex: 1;
  display: flex;
  flex-direction: row;
  border-top: 1px solid rgba(0, 0, 0, .15);
}

#editor {
  flex: 1;
  display: flex;
}

.input {
  width: min(20rem, 300px);
  display: flex;
  flex-direction: column;
  border-left: 2px solid lightgray;
  padding: 0;
}

textarea,
textarea:focus {
  /* width: 100%; */
  height: 100%;
  border: 0;
  outline: none;
  resize: none;
  padding: .35rem;
}

.button-container {
  text-align: right;
  padding: .25rem;
  display: inline-flex;
  flex-direction: row;
  gap: .5rem;
}

button {
  background: white;
  color: #ff5722;
  padding: .5rem 1rem;
  border-radius: .25rem;
  border: 0;
  cursor: pointer;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .25);
  text-transform: uppercase;
  font-weight: bold;
  font-size: .85rem;
  border: 1px solid rgba(0, 0, 0, .2);
}

.output {
  padding: .5rem;
  height: 12rem;
  display: flex;
  resize: none;
  background: white;
  border-radius: .5rem;
  margin-top: .25rem;
  border: 1px solid rgba(0, 0, 0, .2);
  overflow: auto;
}

.region:has(.output) {
  border-top-left-radius: .5rem;
  /* border-top-right-radius: .5rem; */
}

.input.region {
  border-top: 0;
}

.input textarea {
  border: 1px solid rgba(0, 0, 0, .15);
  margin: .25rem;
  border-radius: .5rem;
}

.input .heading {
  padding: .3rem .75rem;
}

.input .heading.border {
  border-top: 1px solid rgba(0, 0, 0, .15);
}

footer {
  font-size: .9rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgba(0, 0, 0, .2);
}

.readme {
  padding: 0 1rem;
}

.copyright {
  padding: 1rem;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, .2);
}

select::-ms-expand {
  display: none;
}

select {
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: .25rem;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
  outline: none;
  padding: 0 2rem 0 .5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-image: linear-gradient(45deg, transparent 50%, #ff5722 50%), linear-gradient(135deg, #ff5722 50%, transparent 50%);
  background-position: right 15px top 1em, right 10px top 1em;
  background-size: 5px 5px, 5px 5px;
}

@media (max-width: 748px) {
  .editor {
    flex-direction: column;
  }

  #editor {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
  }

  .input {
    width: 100%;
    border-left: 0;
  }

  .region:has(.output) {
    border-radius: 0;
  }

  .control-panel .sitename {
    display: none;
  }

  header .sitename {
    display: flex;
  }
}

