<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blade Playground</title>
  <link rel="stylesheet" href="/assets/css/style.css" />
</head>

<body>
  <header>
    <section class="sitename">Blade Playground</section>
  </header>
  <main>
    <section class="control-panel region">
      <section class="sitename">Blade Playground</section>
      <section class="button-container">
        <select id="demo">
          <option value="">-- Select Example --</option>
          <option x-for="demos" x-value="demo" value="{{ demo.src }}">
            {{ demo.name }}
          </option>
        </select>
        <button id="share">&#x27A6; Share</button>
        <button id="run">&#x25B6; Run</button>
      </section>
    </section>
    <section class="editor">
      <section id="editor"></section>
      <section class="input region">
        <div class="heading">Input</div>
        <textarea id="input" placeholder="Enter inputs for the program stdin here..."></textarea>
        <div class="heading">CLI Arguments</div>
        <textarea id="cli" placeholder="Enter program CLI arguments here..."></textarea>
      </section>
    </section>
    <section class="region">
      <div class="heading">Output</div>
      <pre class="output" id="output"></pre>
    </section>
  </main>
  <footer>
    <div class="readme">
      {{ read_me }}
    </div>
    <div class="copyright">
      &copy; 2025 Blade Programming Language
    </div>
  </footer>

  <script>
    var DEFAULT_CODE = {{ code }}
  </script>

  <script src="/assets/js/ace/ace.js"></script>
  <!-- <script src="/assets/js/ace/mode-blade.js"></script> -->
  <!-- <script src="/assets/js/ace/theme-github_light_default.js"></script> -->
  <!-- <script src="/assets/js/ace/theme-xcode.js"></script> -->
  <!-- <script src="/assets/js/ace/keybinding-vscode.js"></script> -->
  <script src="/assets/js/ide.js"></script>
</body>

</html>